<div ng-if="!gameInProgress">
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 options-holder"> 
      <div class="options-section"> Choose Character 
        <button type="button" class="btn btn-default btn-md" ng-class="humanChar == 'X' ? 'selected' : ''" ng-click="playAs('X')">
        X
        </button>
        <button type="button" class="btn btn-default btn-md" ng-class="humanChar == 'O' ? 'selected' : ''" ng-click="playAs('O')">
        O
        </button>
      </div>
      <div class="options-section"> I Want To Go
        <button type="button" class="btn btn-default btn-md" ng-click="playFirst()">
         <span ng-if="humanFirst"> Go First </span>
         <span ng-if="!humanFirst"> Go Second </span>
        </button>
      </div>
      <div class="options-section">
        <button type="button" class="btn-success btn-lg" ng-click="startGame()">
        Start Game!
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div ng-if="gameInProgress">
    <div class="col-md-2" class="reset-btn-holder options-holder" style="height:50px;">  
      <button type="button" class="btn-danger btn-sm" ng-click="resetGame()"> Reset Game! </button>
    </div>
    <div class="col-md-10 display-text-holder" style="text-align:left;">
      <span class="display-text">{{displayText}}</span>
    </div>
  </div>
</div>
